*{box-sizing: border-box;margin: 0;padding: 0;outline: none;} 
html, body, #root, .App {
    height: 100%;
    min-height: 100vh;
}
/* 나간 요소 찾기 ↓ */
/* *{outline: 1px solid red;} */
ul{list-style: none;}
a{text-decoration:none; color:#fff;}
button{background: none;border: none;}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background: #202020;
}

main.main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.displaynone{display: none;}