form{
    font-size: 0.8rem;
    color:#333;
    width: 800px;
    margin: 50px auto;
}
table{width: 800px;height: 400px;}
caption{display:none;}
table{border-collapse: collapse;}
tbody tr{border: 1px solid lightgray;}
tbody tr th{
    text-align: left;
    padding-left: 15px;
    background-color: rgb(241, 241, 241);
}
tbody tr td{padding-left: 10px;}
tbody input{
    width: 150px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}
tbody select{
    width: 70px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}
tbody .tel-wrap input{width: 70px;}
tbody .phone-wrap input{width: 70px;}
tbody .zipcode-wrap input{width: 100px;}
tbody .addr-wrap input{width: 400px;}

form:nth-child(2) table{height: 50px;}
.personal_type0 input[type=radio]{width: 13px;height: 13px;}