header {
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 1000;
    
    .header_wrap {
        background-color: #1C1C1C;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > button {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin: 0 5px 0 0;
            padding: 0;

            &:hover {
                background-color: #3a3a3a;
            }
        }
    }
}